/* base style */
html{
    font-size:          15.795px;   
}

*, *::before, *::after{
    box-sizing:         border-box;
}

#body{
	transition: 		margin-right;
}

body{
    margin:                 0;
    font-family:            'Rubik', sans-serif;
    font-weight:            400;
    line-height:            1.5725;
    background-color:     #ffffff;
    display:                flex;
    flex-direction:         column;
    min-height:             100vh;
}

main{
        flex:               1;
}
h1, h2, h3, h4{
    font-family:            'Playfair Display', serif;
}

p{
    margin:                  0;
    margin-bottom:           25px;
    color:                   rgba(0,0,0,0.7);
}

a, .as-link{
    text-decoration:         none;
    color:                   rgba(0,0,0,0.7);
    transition:              color 0.32s ease-out;
}

a:focus, a:hover{
    text-decoration:         none;
    color:                  #767676;

}

audio, canvas, img, video{
    display:                block;
    /* vertical-align:         middle; */
}

img{
    max-width:              100%;
    height:                 auto;
}

svg{
    vertical-align:         middle;
    pointer-events:         none;
}

ul{
    padding-left:           2.64rem;
}

.none{
    padding-left:           0;
    list-style:             none;
}

ul, ol, ul ul, ol ul{
    margin:                 0 0 (1.25 * 25px )
}

ul, ol{
    font-size:              90%;
}

textarea{
    background-color:       #f5f5f5;
    border:                 1px solid #eee;
    transition:             background-color 320ms ease-out;
    resize:                 vertical;
    width:                  100%;
    min-height:             8rem;
    max-height:             16rem;
    padding:                1.24rem;
    font-size:              1.025rem
}

/* header */
.mobile-header{
    padding:                 0 1rem;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    position:               fixed;
    width:                  100%;
    top:                    0;
    left:                   0;
    z-index:                999;
    background-color:       #ffffff;
}

.header-image-container{
    position: relative;
}

.header-image{
    height:                 232px;
    width:                  100%;
    object-fit:             cover;
}

.input-container{
    background-color:       white;
    width: 310px;
    height: 200px;
    padding: 0 1rem;
    margin: 0 auto; 
    position: absolute;
    bottom: -70px;
    left: 12%;
    border-radius: 5px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.input-field{
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

input{
    width: 85%;
    border: none;
    padding-left: 0.5rem;
}

input:hover, input:focus{
    outline: none;
}

input::placeholder{
    font-size: 1.025;
}

/* hamburger side nav */
.sidenav{
	height: 			100%;
	width: 				0;
	position: 			fixed;
	z-index: 			1;
	top: 				0;
	right: 				0;
	background-color: 	#ffffff;
	overflow-x: 		hidden;
	padding-top: 		60px;
	transition: 		0.5s;
}

.sidenav a {
	padding: 			1rem 1rem 1rem 2rem;
	text-decoration: 	none;
	font-size: 			25px;
	color: 				rgba(0,0,0,0.7);
	display: 			block;
	transition: 		0.3s;
}

.sidenav a:hover {
	color: 			#767676;	
}

.sidenav .closebtn {
	position: 			absolute;
	top:     			0;
	right: 				0;
	font-size: 			36px;
	margin-left: 		50px;
}

.mt-6{
    margin-top: 7rem;
}
.mb-2{
    margin-bottom: 2rem;
}

.px-h{
    padding: 0 0.5rem;
}

.pb-1{
    padding-bottom: 1rem;
}

main{
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 995px;
}

/* kitchen card and grid */
.menu-grid{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns:  repeat(auto-fit, minmax(252px, 1fr));
}
.menu-grid-item{
    border-radius: 5px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    height: 100%;
}

/* .image-container{
    height: 80%;
} */

.grid-image{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.header-text{
    margin-bottom: 8px;
    margin-top: 15px;
}

.p-text-1{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.p-text-2{
    font-size: 14px;
    width: 100px;
    text-align: center;
    background-color: #f2efefa3;
    border-radius: 2px;
    padding: 0.3rem 0;
}